<body>

<h2>To-Do List
    <div *ngFor="let todo of todoList">
        <p >
            {{todo.task}} 
            
        
        
            <button *ngIf="todo.completed === false" (click)="completeTask(todo)">complete</button> 
            <button (click)="removeTask(todo)">X</button>
        </p>

    </div>
    <br/>
<h1>Add Task</h1>
    <form #userForm="ngForm">
        <label></label>
        <input name="newTask" type="text" [(ngModel)]="newTask"/>
        <br/>
        <button (click)="addTask()">Add</button>
    </form>
</h2>
</body>
