<body>

<h2>To-Do List
    <div *ngFor="let todo of todoList">
        <app-todo [todoDisplay]="todo"></app-todo>
        <!-- <p >
            {{todo.task}} 
            
        
        
            <button *ngIf="todo.completed === false" (click)="completeTask(todo)">complete</button> 
           
        </p> -->
            <button (click)="removeTask(todo)">X</button> 
    </div>
    <br/>
<h1>Add Task</h1>
    <app-todo-form (newTodoEvent)="addFromChild($event)"></app-todo-form>
    
</h2>



<router-outlet></router-outlet>

</body>